@import "base";

.picture{
  width: 99vw;
  height: 25vw;
  margin-left: 0;
  margin-right: 0;
  color: map-get($theme-colors, "light");
  background-size: cover;
      background-repeat: no-repeat;
  background-position: 50%,50%;

}

